<robot
  name="mounting_d435_v4">
  <xacro:property name="PI" value="3.1415926535897931" />
  <link
    name="tripod_link">
    <inertial>
      <origin
        xyz="1.4594E-33 3.5995E-18 0.052882"
        rpy="0 0 0" />
      <mass
        value="0.042726" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/tripod_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/tripod_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="support_link">
    <inertial>
      <origin
        xyz="3.0662E-07 -1.0389E-06 0.15245"
        rpy="0 0 0" />
      <mass
        value="0.026942" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/support_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/support_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tripod_to_support"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="tripod_link" />
    <child
      link="support_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera1_link">
    <inertial>
      <origin
        xyz="-0.031365 0.010865 0.16171"
        rpy="0 0 0" />
      <mass
        value="0.037509" />
      <inertia
        ixx="1.2411E-06"
        ixy="4.0428E-07"
        ixz="-8.8041E-08"
        iyy="2.3524E-06"
        iyz="5.2585E-08"
        izz="1.4392E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/camera1_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v4/meshes/camera1_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="support_to_camera1"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="support_link" />
    <child
      link="camera1_link" />
    <axis
      xyz="0 0 0" />
  </joint>
 
</robot>