<robot
  name="mounting_d435_v42">
  <link
    name="tripod_link">
    <inertial>
      <origin
        xyz="1.45938641361739E-33 0.0528823529411765 -3.61522582557461E-19"
        rpy="0 0 0" />
      <mass
        value="0.0427256600888212" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v42/meshes/tripod_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v42/meshes/tripod_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="support_link">
    <inertial>
      <origin
        xyz="1.04668896338101E-07 -1.07815972298718E-06 0.0294498789131668"
        rpy="0 0 0" />
      <mass
        value="0.0269422185751371" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v42/meshes/support_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mounting_d435_v42/meshes/support_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tripod_to_support"
    type="fixed">
    <origin
      xyz="0 0 0.123"
      rpy="-6.0126E-17 1.1576E-17 0.19021" />
    <parent
      link="tripod_link" />
    <child
      link="support_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  
</robot>